<%= form_for(@receipt) do |f| %>
  <% if @receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
      <% @receipt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :total %><br />
    <%= f.text_field :total %>
  </div>
	<div>
		<%= @receipt.line_items.each do |line_item| %>
			<%= f.fields_for line_item, :index => line_item do |line_item_form| %>
				<div class="field">
					<%= line_item_form.label :name %><br />
					<%= line_item_form.text_field :name %>
				</div>
			<% end %>
		<% end %>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
